@{
    ViewData["Title"] = "My Podcast";
}

<h1>My Podcast</h1>
<p>Visit the following link to listen to my podcast:</p>
<!--inserting link that directs to webiste-->
<a href="https://baconsale.com/" target="_blank">Click here!</a>